<%= form_for(@short) do |f| %>
	<% if @short.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@short.errors.count, "error") %> prohibited this short from being saved:</h2>

			<ul>
				<% @short.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :expanded, "URL" %><br />
		<%= f.text_field :expanded, placeholder: "please include http(s)://" %>
	</div>

	<div class="field">
		<%= f.label :contracted, "Short Code" %><br />
		<%= f.text_field :contracted, placeholder: "leave blank to auto-generate" %>
		
		<% if @short.id %>
			<span class="hint">Changing this will break old links.</span>
		<% end %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
