<h1 class="span-17"><%= pluralize(Short.count, "URL") %> viewed <%= pluralize(@view_count, "time") %></h1>
<%= link_to 'New Short', new_short_path, class: "buttons span-4 last" %>
<div class="clear"></div>

<%= paginate @shorts %>

<table>
	<thead>
		<tr>
			<th>Site</th>
			<th>Short Link</th>
			<th>Visits</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @shorts.each do |short| %>
		<tr>
			<td><%= link_to short.title, stats_url(short) %></td>
			<td><%= link_to(short_url(short), short.contracted, target: "_blank") %></td>
			<td><%= short.visits.count %></td>
			<td><%= link_to "edit", edit_short_path(short) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= paginate @shorts %>