<p id="notice"><%= notice %></p>

<p>
  <b>Short:</b>
  <%= @visit.short %>
</p>

<p>
  <b>Referred:</b>
  <%= @visit.referred %>
</p>


<%= link_to 'Edit', edit_admin_visit_path(@visit) %> |
<%= link_to 'Back', admin_visits_path %>
