<h1 class="span-17"><%= pluralize(@shorts_count, "URL") %> viewed <%= pluralize(@view_count, "time") %></h1>

<%= link_to 'New Short', new_admin_short_path, class: "buttons span-4 last" %>
<div style="padding-top:50px;width:25%;float:left;">
  <% if @including_bethel_tv %>
    Including Bethel.TV.<br/> <a href="/admin/?toggle_tv=yes">Hide these links.</a>
  <% else  %>
    Excluding Bethel.TV links.<br/> <a href="/admin/?toggle_tv=yes">Show these links.</a>
  <% end %>
</div>
<div style="padding-top:50px;width:25%;float:left;">
  <% if @including_podcast %>
      Including Podcasts.<br/> <a href="/admin/?toggle_podcast=yes">Hide these links.</a>
  <% else  %>
      Excluding Podcast links.<br/> <a href="/admin/?toggle_podcast=yes">Show these links.</a>
  <% end %>
</div>
<div class="clear"></div>

<%= paginate @shorts %>

<table>
	<thead>
		<tr>
			<th>Site</th>
			<th>Short Link</th>
			<th>Visits</th>
			<th></th>
            <th></th>
		</tr>
	</thead>
	<tbody>
	<% @shorts.each do |short| %>
		<tr>
			<td><%= link_to short.title, stats_url(short) %></td>
			<td><%= link_to(short_url(short), short.contracted, target: "_blank") %></td>
			<td><%= short.visits.count %></td>
            <td><%= link_to "visits", admin_short_visits_path(short) %></td>
			<td><%= link_to "edit", edit_admin_short_path(short) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= paginate @shorts %>
