<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title || "Shorten that URL" %> | bcrr.us</title>
	<%= stylesheet_link_tag "reset", "grid", "tabs", "autocomplete", "stylesheet", cache: "styles" %>
	<%= javascript_include_tag "jquery", "jquery.tabs", "rails", "autocomplete-rails", "application", cache: "scripts" %>
	<%= csrf_meta_tag %>
</head>
<body id="<%= controller.controller_name %>">

	<div class="container">
		<header>
            <div class="" id="back_wrapper">
              <a href="http://ibethel.org">< Back to ibethel.org</a>
            </div>
			<div class="span-12" id="logo">
				<%= link_to(image_tag("bethel_logo.png", id: "logo_image"), admin_root_path)%>
                <span id="page_slash"><%= image_tag("page_pipe.png", id: "page_pipe") %></span><span id="page_title"><%= @page_title || "Shorten that URL" %></span>
			</div>
			<nav class="span-12 last" id="nav_links">
				<ul>
					<% if current_user.present? %>
                        <li><%= link_to "Embedded Forms", admin_embedded_forms_path %></li>
						<li><%= link_to "My Account", admin_users_path %></li>
						<li><%= link_to "Site Keys", new_admin_user_path %></li>
						<li><%= link_to "Sign Out", signout_path %></li>
					<% else %>
                      <li><%= link_to "Log In", admin_root_path %></li>
					<% end %>
				</ul>
			</nav>
			<div class="clear"></div>
		</header>

		<section id="above-wrapper">
			<%= yield :above_wrapper %>
		</section>

		<div id="wrapper" class="clear span-22 append-1 prepend-1 last">
			<%= yield %>
		</div>

		<footer class="clear span-24 last">

		</footer>
	</div>

</body>
</html>
